---
export interface Props {
	content: {
		title: string
		description: string
		publishDate: string
		lastUpdateDate?: string
		author?: string
		alt?: string
		devUrl?: string
		coverImage?: {
			src: string
			width: number
			height: number
			alt?: string
			title?: string
		}
		redirectPathnameFrom?: string
		redirectPathnameTo?: string
	};
}

import BaseHead from '$/components/BaseHead.astro';
import Heroes from '$/components/Heroes.astro';
import PageFooter from '$/components/PageFooter.astro';
import PageHeader from '$/components/PageHeader.astro';
//import { getPermalink } from '$/lib/getPermalink';

const { content } = Astro.props;
const { title, description, publishDate, lastUpdateDate, author, alt, devUrl, coverImage } = content;

const published = new Date(publishDate);
const lastUpdated = lastUpdateDate && new Date(lastUpdateDate);

const fixPathname = (Astro.url.pathname === content.redirectPathnameFrom && content.redirectPathnameTo) || ''
//const permalink = getPermalink(Astro.url, fixPathname)
---

<html lang={ Astro.currentLocale || 'en' }>

<head>
	<BaseHead title={title} description={description} fixPathname={fixPathname} />
</head>

<body>
	<PageHeader />
	<main id="main">
		{coverImage && <>
			<img class="cover-image" aria-hidden="true" alt={coverImage.alt || alt || '' } src={coverImage.src}
				height={coverImage.height} width={coverImage.width} role="presentation" title={coverImage.title} />
			<style>
				.cover-image {
					box-sizing: content-box;
					margin: -1rem calc(var(--margin-offset) * -1);
					max-width: unset;
					width: calc(100% + var(--margin-offset) * 2);
				}

				@media (min-width: 55em) and (max-width: 99.9375em) {
					.cover-image {
						aspect-ratio: 2.5 / 1;
						object-fit: cover;
						margin-block: 0;
					}
				}

				@media (min-width: 100em) {
					.cover-image {
						margin: 0;
						left: 0;
						-webkit-mask-image: var(--mask);
						mask-image: var(--mask);
						max-width: 100%;
						position: fixed;
						top: 0;
						width: 100%;
						z-index: -1;
					}

					@supports (mix-blend-mode: soft-light) {
						.cover-image {
							--mask: linear-gradient(black, transparent);
							mix-blend-mode: soft-light;
						}
					}

					@supports not (mix-blend-mode: soft-light) {
						.cover-image {
							--mask: linear-gradient(rgba(0, 0, 0, 0.375), transparent);
						}
					}
				}

				@media (prefers-reduced-motion) and (min-width: 100em) {
					.cover-image {
						position: absolute;
					}
				}
			</style>
		</>}
		<Heroes title={title} published={published} lastUpdated={lastUpdated || undefined} author={author}>
			<slot />
			{devUrl && <>
				<div lang="en" class="ff9-dialog">
					This post has been cross-posted to <a class="dev-link" href={devUrl}>DEV</a>.<br />Your comments
					might reach a bigger audience there!
				</div>
				<style>
					.ff9-dialog {
						margin-top: 4rem;
						padding: 1rem;
						text-align: center;
					}

					.dev-link {
						display: inline-block;
						margin: -1rem;
						padding: 1rem;
					}
				</style>
			</>}
		</Heroes>
	</main>
	<nav lang="en" id="post-main">
		<p><a href="/"><span aria-hidden="true">⬅️</span> Go to homepage</a></p>
	</nav>
	<PageFooter />
</body>

</html>
